## Created By:- Sameer Goel
## Created On:- 11-04-2021
## Language Used:- Python
## IDE Used:- Jupyter Notebook
## Purpose:- To predict the price of the used car on the basis of some features
## Algorithm Used:- Linear Regression

In [1]:
# Import the important libraries
import pickle
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [2]:
# Read the data
df = pd.read_csv('car.csv')

In [3]:
# Check the first five rows of the data
df.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [4]:
# Check the last five rows of the data
df.tail()

,name,company,year,Price,kms_driven,fuel_type
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [5]:
# Check the shape of the data
df.shape

(892, 6)

In [6]:
# Check the information of the data before performing the cleaning operations on the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [7]:
# Handle the missing values form the data and clean our dataset

# Year
df = df[df['year'].str.isnumeric()]
df['year'] = df['year'].astype(int)

# Price
df = df[df['Price'] != 'Ask For Price']
df['Price'] = df['Price'].str.replace(',','').astype(int)

# Kilometer Driven
df['kms_driven'] = df['kms_driven'].str.split().str.get(0).str.replace(',','')
df = df[df['kms_driven'].str.isnumeric()]
df['kms_driven'] = df['kms_driven'].astype(int)

# fuel type 
df = df[~df['fuel_type'].isna()]

# Taking only first two values from name 
# For example converting Hyundai Santro Xing XO eRLX Euro III to Hyuandai Santro Xing
df['name'] = df['name'].str.split().str.slice(0, 3).str.join(' ')

# Set the index value because after cleaning the data the index is chaged like some values of index are missing
df = df.reset_index(drop = True)

In [8]:
# Check the information of the data after performing the cleaning operations on the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 28.8+ KB

In [9]:
# Check the description of the data
df.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [10]:
# Took only those cars whose price is less than 60 Lakh
df = df[df['Price'] < 6000000]

In [11]:
# Save the cleaned data into a new file called cleaned_data.csv
df.to_csv('cleaned_data.csv')

In [12]:
# Check all the companies of cars avaliable 
companies = df['company'].unique()
print(f'We have {len(companies)} car companies avaliable and the name of the compaines are:-\n{companies}')

We have 25 car companies avaliable and the name of the compaines are:-
['Hyundai' 'Mahindra' 'Ford' 'Maruti' 'Skoda' 'Audi' 'Toyota' 'Renault'
 'Honda' 'Datsun' 'Mitsubishi' 'Tata' 'Volkswagen' 'Chevrolet' 'Mini'
 'BMW' 'Nissan' 'Hindustan' 'Fiat' 'Force' 'Mercedes' 'Land' 'Jaguar'
 'Jeep' 'Volvo']

In [13]:
# Seprate the independent and dependent i.e Price and other factors(name, company, year, kms_drive, fuel_type)
x = df[['name', 'company', 'year', 'kms_driven', 'fuel_type']]
y = df['Price']
print(f'Independent Variables:-\n{x}')
print(f'\n\nDependent Variable:-\n{y}')

Independent Variables:-
                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
812          Tata Indica V2      Tata  2009       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009      132000    Petrol
814            Tata Zest XM      Tata  2018       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]


Dependent Variable:-
0       80000
1      425000
2      325000
3      575000
4      175000
        ...
811    270000
812    110000
813    300000
814    260000
815    390000
Name: Price, Length: 815, dtype: int32

In [14]:
# Spliting our data into train and test part
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=655)
print(f'X Train:-\n{x_train}')
print(f'\n\nY Train:-\n{y_train}')
print(f'\n\nY Test:-\n{x_test}')
print(f'\n\nY Test:-\n{y_test}')

X Train:-
                    name   company  year  kms_driven fuel_type
420      Honda Amaze 1.5     Honda  2016      160000    Diesel
722      Ford Fusion 1.4      Ford  2007       85455    Diesel
150   Maruti Suzuki Alto    Maruti  2018        3000    Petrol
347      Mahindra XUV500  Mahindra  2015       15000    Diesel
100  Maruti Suzuki Swift    Maruti  2013       13349    Petrol
..                   ...       ...   ...         ...       ...
121   Maruti Suzuki Alto    Maruti  2017        5600    Petrol
410  Toyota Fortuner 3.0    Toyota  2010      131000    Diesel
185    Maruti Suzuki Zen    Maruti  2000       60000    Petrol
393    Maruti Suzuki Zen    Maruti  2001       40000    Petrol
49   Maruti Suzuki Swift    Maruti  2014       35522    Diesel

[652 rows x 5 columns]


Y Train:-
420     240000
722     125000
150     310000
347    1000000
100     372000
        ...
121     350000
410     940000
185      55000
393      40000
49      385000
Name: Price, Length: 652, dtype: int32


Y Test:-
                         name     company  year  kms_driven fuel_type
64   Volkswagen Polo Highline  Volkswagen  2014       60000    Petrol
744         Chevrolet Beat LS   Chevrolet  2014       31000    Diesel
76              Mini Cooper S        Mini  2013       13500    Petrol
706        Maruti Suzuki Alto      Maruti  2015       50000    Petrol
665       Maruti Suzuki Swift      Maruti  2016       51000    Diesel
..                        ...         ...   ...         ...       ...
459       Toyota Fortuner 3.0      Toyota  2015      120000    Diesel
362         Hyundai i10 Magna     Hyundai  2011       45000    Petrol
536        Maruti Suzuki Alto      Maruti  2014       37000    Petrol
678         Audi A3 Cabriolet        Audi  2015       12516    Petrol
356      Skoda Rapid Elegance       Skoda  2013       48000    Diesel

[163 rows x 5 columns]


Y Test:-
64      315000
744     189000
76     1891111
706     215000
665     499000
        ...
459    1525000
362     175000
536     199000
678    3100000
356     340000
Name: Price, Length: 163, dtype: int32

In [15]:
# Seprate categorical features of our data
ohe = OneHotEncoder()
ohe.fit(x[['name', 'company', 'fuel_type']])
print(f'Categorical Features:-\n{ohe.categories_}')

Categorical Features:-
[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
       'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
       'Chevrolet Cruze LTZ', 'Chevrolet Enjoy', 'Chevrolet Enjoy 1.4',
       'Chevrolet Sail 1.2', 'Chevrolet Sail UVA', 'Chevrolet Spark',
       'Chevrolet Spark 1.0', 'Chevrolet Spark LS', 'Chevrolet Spark LT',
       'Chevrolet Tavera LS', 'Chevrolet Tavera Neo', 'Datsun GO T',
       'Datsun Go Plus', 'Datsun Redi GO', 'Fiat Linea Emotion',
       'Fiat Petra ELX', 'Fiat Punto Emotion', 'Force Motors Force',
       'Force Motors One', 'Ford EcoSport', 'Ford EcoSport Ambiente',
       'Ford EcoSport Titanium', 'Ford EcoSport Trend',
       'Ford Endeavor 4x4', 'Ford Fiesta', 'Ford Fiesta SXi', 'Ford Figo',
       'Ford Figo Diesel', 'Ford Figo Duratorq', 'Ford Figo Petrol',
       'Ford Fusion 1.4', 'Ford Ikon 1.3', 'Ford Ikon 1.6',
       'Hindustan Motors Ambassador', 'Honda Accord', 'Honda Amaze',
       'Honda Amaze 1.2', 'Honda Amaze 1.5', 'Honda Brio', 'Honda Brio V',
       'Honda Brio VX', 'Honda City', 'Honda City 1.5', 'Honda City SV',
       'Honda City VX', 'Honda City ZX', 'Honda Jazz S', 'Honda Jazz VX',
       'Honda Mobilio', 'Honda Mobilio S', 'Honda WR V', 'Hyundai Accent',
       'Hyundai Accent Executive', 'Hyundai Accent GLE',
       'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6',
       'Hyundai Elantra 1.8', 'Hyundai Elantra SX', 'Hyundai Elite i20',
       'Hyundai Eon', 'Hyundai Eon D', 'Hyundai Eon Era',
       'Hyundai Eon Magna', 'Hyundai Eon Sportz', 'Hyundai Fluidic Verna',
       'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime',
       'Hyundai Grand i10', 'Hyundai Santro', 'Hyundai Santro AE',
       'Hyundai Santro Xing', 'Hyundai Sonata Transform', 'Hyundai Verna',
       'Hyundai Verna 1.4', 'Hyundai Verna 1.6', 'Hyundai Verna Fluidic',
       'Hyundai Verna Transform', 'Hyundai Verna VGT',
       'Hyundai Xcent Base', 'Hyundai Xcent SX', 'Hyundai i10',
       'Hyundai i10 Era', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
       'Hyundai i20', 'Hyundai i20 Active', 'Hyundai i20 Asta',
       'Hyundai i20 Magna', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
       'Jaguar XE XE', 'Jaguar XF 2.2', 'Jeep Wrangler Unlimited',
       'Land Rover Freelander', 'Mahindra Bolero DI',
       'Mahindra Bolero Power', 'Mahindra Bolero SLE',
       'Mahindra Jeep CL550', 'Mahindra Jeep MM', 'Mahindra KUV100',
       'Mahindra KUV100 K8', 'Mahindra Logan', 'Mahindra Logan Diesel',
       'Mahindra Quanto C4', 'Mahindra Quanto C8', 'Mahindra Scorpio',
       'Mahindra Scorpio 2.6', 'Mahindra Scorpio LX',
       'Mahindra Scorpio S10', 'Mahindra Scorpio S4',
       'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
       'Mahindra Scorpio VLX', 'Mahindra Scorpio Vlx',
       'Mahindra Scorpio W', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
       'Mahindra Thar CRDe', 'Mahindra XUV500', 'Mahindra XUV500 W10',
       'Mahindra XUV500 W6', 'Mahindra XUV500 W8', 'Mahindra Xylo D2',
       'Mahindra Xylo E4', 'Mahindra Xylo E8', 'Maruti Suzuki 800',
       'Maruti Suzuki A', 'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
       'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
       'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
       'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
       'Maruti Suzuki Estilo', 'Maruti Suzuki Maruti',
       'Maruti Suzuki Omni', 'Maruti Suzuki Ritz', 'Maruti Suzuki S',
       'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
       'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
       'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
       'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
       'Mercedes Benz GLA', 'Mini Cooper S', 'Mitsubishi Lancer 1.8',
       'Mitsubishi Pajero Sport', 'Nissan Micra XL', 'Nissan Micra XV',
       'Nissan Sunny', 'Nissan Sunny XL', 'Nissan Terrano XL',
       'Nissan X Trail', 'Renault Duster', 'Renault Duster 110',
       'Renault Duster 110PS', 'Renault Duster 85', 'Renault Duster 85PS',
       'Renault Duster RxL', 'Renault Kwid', 'Renault Kwid 1.0',
       'Renault Kwid RXT', 'Renault Lodgy 85', 'Renault Scala RxL',
       'Skoda Fabia', 'Skoda Fabia 1.2L', 'Skoda Fabia Classic',
       'Skoda Laura', 'Skoda Octavia Classic', 'Skoda Rapid Elegance',
       'Skoda Superb 1.8', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
       'Tata Bolt XM', 'Tata Indica', 'Tata Indica V2', 'Tata Indica eV2',
       'Tata Indigo CS', 'Tata Indigo LS', 'Tata Indigo LX',
       'Tata Indigo Marina', 'Tata Indigo eCS', 'Tata Manza',
       'Tata Manza Aqua', 'Tata Manza Aura', 'Tata Manza ELAN',
       'Tata Nano', 'Tata Nano Cx', 'Tata Nano GenX', 'Tata Nano LX',
       'Tata Nano Lx', 'Tata Sumo Gold', 'Tata Sumo Grande',
       'Tata Sumo Victa', 'Tata Tiago Revotorq', 'Tata Tiago Revotron',
       'Tata Tigor Revotron', 'Tata Venture EX', 'Tata Vista Quadrajet',
       'Tata Zest Quadrajet', 'Tata Zest XE', 'Tata Zest XM',
       'Toyota Corolla', 'Toyota Corolla Altis', 'Toyota Corolla H2',
       'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
       'Toyota Etios Liva', 'Toyota Fortuner', 'Toyota Fortuner 3.0',
       'Toyota Innova 2.0', 'Toyota Innova 2.5', 'Toyota Qualis',
       'Volkswagen Jetta Comfortline', 'Volkswagen Jetta Highline',
       'Volkswagen Passat Diesel', 'Volkswagen Polo',
       'Volkswagen Polo Comfortline', 'Volkswagen Polo Highline',
       'Volkswagen Polo Highline1.2L', 'Volkswagen Polo Trendline',
       'Volkswagen Vento Comfortline', 'Volkswagen Vento Highline',
       'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object), array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object), array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [16]:
# Concatenate our categorical data
column_transformations = make_column_transformer((OneHotEncoder(categories=ohe.categories_), ['name', 'company', 'fuel_type']), remainder='passthrough')

In [17]:
# Train our model
lr = LinearRegression()
pipelining = make_pipeline(column_transformations, lr)
pipelining.fit(x_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [18]:
# Making Predictions
predictions = pipelining.predict(x_test)
print(f'Predictions:-\n{predictions}')

Predictions:-
[ 4.93065825e+05  2.00198187e+05  1.89050293e+06  2.26062725e+05
  3.54959522e+05  1.35188799e+05  6.25158693e+05  6.67655859e+05
  5.23151165e+05  3.96454155e+05  1.26456852e+06  7.81885509e+04
  1.29564617e+05  2.31567851e+05  1.87834591e+05  2.81035031e+05
  5.78395185e+05  3.03485052e+05  4.27523099e+05  5.66280423e+05
  4.38010277e+05  3.05224715e+05  2.34096405e+05  1.50463918e+05
  4.37916224e+05  4.53522486e+05  3.00531154e+05  5.12490507e+05
  2.80010962e+05  2.91744495e+05  2.29871523e+05  1.71669713e+05
  2.90573848e+05  3.65808951e+05  1.54166908e+05  5.38093202e+05
 -1.51957031e+02  2.63827875e+05  3.37031316e+05  1.58787716e+05
  1.89062454e+06  6.80336249e+04  3.74864528e+05  2.57721709e+05
  1.71311106e+05  6.70876902e+05  2.43537452e+05  3.78994051e+05
  1.58315438e+05 -5.48135554e+03  1.07523164e+06  1.91806989e+05
  1.52609336e+06  5.65821275e+05  1.97710558e+05  1.71465324e+05
  3.36370264e+05  3.97532203e+04  8.51363724e+05  2.59186787e+05
  5.19384147e+05  5.39542149e+05  5.15981163e+04  5.10810769e+05
  2.70506341e+05  4.22518195e+05  2.23630721e+05  2.38922886e+05
  5.09405602e+04  2.36348276e+05  5.61117756e+05  1.27138571e+05
  5.79519272e+05  2.19058720e+05  4.92803650e+05  2.89248914e+05
  2.28981130e+05  3.52651532e+04  4.84579555e+05  4.25328079e+05
  5.78706072e+05  1.00100519e+06  5.18906660e+05  2.62682927e+05
  2.83570290e+05  2.37006743e+05  1.76508238e+05  5.19741345e+05
  1.41855126e+06  5.22730871e+05 -2.27876092e+04  5.12784949e+05
  2.56294691e+05  2.73548220e+05  2.81035031e+05  1.50399795e+06
  5.18451618e+05  7.34235309e+03  3.29278031e+05  2.26856681e+05
  1.13520006e+05  2.40618815e+05  6.05287901e+05  2.45107473e+05
  2.45285058e+04  3.55312057e+05  1.91116365e+05  8.26923940e+05
  3.21407977e+05  3.26416424e+05  2.99085862e+05  4.02698350e+05
  4.60883089e+05  1.55931478e+05  5.14475752e+05  3.41213237e+05
  2.73985410e+05  3.63702165e+05  5.39031938e+05  5.06988897e+05
  4.34882343e+05  4.09670431e+05  1.84121616e+06  7.70952310e+05
  1.81751969e+06  3.17654056e+05  4.23671770e+05  2.31461206e+04
  4.41050937e+05  3.98450083e+05  2.95336036e+05  7.55615477e+04
  1.30165443e+05  5.95282040e+05  1.88385944e+05  1.59796275e+05
  2.59497695e+05  2.61856116e+05  4.61602922e+05  3.63138717e+05
  1.87668208e+05  5.27327359e+05  2.88010742e+05  5.10081168e+05
  3.26144852e+05  3.55991445e+05  1.32983522e+05  9.69176846e+04
  2.94771610e+05  6.72236130e+05  5.94834078e+05  3.74966558e+05
  3.99809413e+05  4.58937485e+05  1.04423048e+05  1.57553484e+05
  3.04140110e+05  5.81074462e+05  1.36697204e+06  3.28376696e+05
  2.08689469e+05  1.42509953e+06  3.83644892e+05]

In [19]:
# Check accuracy of the model
accuracy = r2_score(y_test, predictions)
print(f'Accuracy of the model:- {round(accuracy * 100, 2)}%')

Accuracy of the model:- 74.07%

In [20]:
# Save the model
pickle.dump(pipelining, open('model.pkl', 'wb'))